@import url('https://fonts.googleapis.com/css?family=Chonburi|Lexend+Deca|Poppins|Yeseva+One&display=swap');

body {
  font-family: 'Lexend Deca', sans-serif;
  background-image: url(./assets/tree_bark.png);
}

ul {
  list-style-type: none;
}

svg {
  vertical-align: middle;
  height: 45px;
  width: 30px;
  padding: 0;
  margin: 0;
}

hr {
  margin: 4.5% 0% 0% 7%;
  width: 82%;
  color: lightgray;
  border-width: 2px;
}

.container {
height: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.heading img {
  width: 100%;
  margin: 0;
  z-index: -1;
}

.personal {
  width: 15%;
  background-color: rgb(52,50,51);
  color: rgb(242,242,242);
}

@media screen and (max-width: 1080px) {
  .personal {
    width: 30%;
  }
  .education-and-work {
    width: 70%;
  }
}

.personal h2 {
  text-align: center;
  font-family: 'Poppins';
  font-weight: bold;
  background-color: rgb(203,154,62);
  padding: 0;
  margin-top: -2%
}

.subheading {
  margin: 4% auto;
  padding: 0;
  width: 75%;
  text-align: center;
  font-family: 'Poppins';
  background-color: rgb(203,154,62);
  border-radius: 100px;   
}


.personal li {
  margin: 1% 8%;
  width: 65%;
  padding: 0 14% 0 0;
  text-align: center;
}

.personal li svg {
  color: rgb(203,154,62);
}


.skills span {
  display: inline-block;
  margin: 1% 4% 3% 4%;
  padding: 7px;
  border: 2px solid rgb(203,154,62);
  border-radius: 5.5px;
}

.education-and-work {
  width: 35.5%;
  background-color: rgb(242,242,242);
}

.education-and-work svg {
  color: rgb(203,154,62);
  vertical-align: middle;
  height: 45px;
  width: 30px;
  padding-left: 8.7%;
  margin-bottom: 0.9%;
}

.education-and-work h3 {
  display: inline-block;
  padding-top: 3%;
  margin: 0;
  color: rgb(203,154,62);
}

.education-and-work li {
  padding-bottom: 5%;
  padding-left: 5%;
}

.title {
  font-family: 'Poppins';
  font-weight: bold;
  color: rgb(52,50,51);
}

.location {
  font-style: italic;
  color: rgb(203,154,62)
}

.certificates li::before {
    content: "\2022";  
    color: rgb(203,154,62);
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}